<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltx.dao.UserDao">
    <!--json对应List-->
    <resultMap id="userMap" type="com.ltx.entity.User">
        <result column="password" property="password"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>


    <select id="query" resultMap="userMap">
        select * from user
        <where>
            <if test="id != null and id != ''">
                and id >= #{id}
            </if>
            <if test="age != null and age != ''">
                and age &lt;= #{id}
            </if>
            <choose>
                <when test="name != null">
                    and name = #{name}
                </when>
                <otherwise>
                    and sex = #{sex}
                </otherwise>
            </choose>
        </where>
        limit 10 offset 0
    </select>
    <select id="select" resultMap="userMap">
        select *
        from user
        limit 10 offset 0
    </select>

</mapper>